{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>Create a New Item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% comment %} <p>
                <label for="id_task">Task:</label>
                <input type="text" id="id_task" name="task" required>
                </p>
                <p>
                <label for="id_due_date">Due Date:</label>
                <input type="text" id="id_due_date" name="due_date" >
                </p>
                <p>
                <label for="id_is_completed">Completed:</label>
                <input type="checkbox" id="id_is_completed" name="is_completed">
                </p>
                <p>
                <label for="id_list">List:</label>
                <select id="id_list" name="list" required>
                    <option value="" disabled selected>Select a list</option>
                    {% for todo_list in todo_lists %}
                        <option value="{{ todo_list.id }}">{{ todo_list.name }}</option>
                    {% endfor %}
                </p>
                </select> {% endcomment %}
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
    {% endblock content %}