{% extends "base.html" %}

{% block content %}
  <main>
    <div>
      <h1>Create a new list</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
      </form>
    </div>
  </main>
{% endblock content %}






{% comment %} def todo_list_create(request):
    if request.method == "POST":
        form = TodoListForm(request.POST)
        if form.is_valid():
            new_todo_list = form.save()
            return redirect("todos:todo_list_detail", id=new_todo_list.id)
    else:
        form = TodoListForm()
    return render(request, "todos/todo_list_create.html", {"form": form}) {% endcomment %}