{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>Update item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% comment %} <p>
                    <label for="id_task">Task:</label>
                    <input type="text" id="id_task" name="task" value="{{ form.instance.task }}" required>
                </p>
                <p>
                    <label for="id_due_date">Due Date:</label>
                    <input type="text" id="id_due_date" name="due_date" value="{{ form.instance.due_date }}" placeholder="YYYY-MM-DD">
                </p>
                <p>
                    <label for="id_is_completed">Completed:</label>
                    <input type="checkbox" id="id_is_completed" name="is_completed" {% if form.instance.is_completed %}checked{% endif %}>
                </p>
                <p>
                    <label for="id_list">List:</label>
                    <select id="id_list" name="list" required >
                        {% comment %} <option value="" disabled selected>Select a list</option>
                        {% for todo_list in todo_lists %}
                            <option value="{{ todo_list.id }}">{{ todo_list.name }}</option>
                        {% endfor %} {% endcomment %}
                <button type="submit">Update</button>
            </form>
        </div>
    </main>
    {% endblock content %}